:root{
    --vermelho: #E50914;
    --preto: #141414;
}


/*Corpo principal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    background-color: var(--preto);
    font-family: Arial, Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: Arial;
    font-weight: 9000;
    font-size: 40px;
}

header nav a{
    text-decoration: none; /*pra tirar a linha abaixo*/
    color: #AAA;
    margin-right: 10px;

}
header nav a:hover{
    color: white;
}
/*filme principal*/
.filme-principal{
    font-size: 16;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(./img/foto.jpeg);

    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;

}
.titulo{
    font-size: 40px;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao.hover{
    background-color: white;
    color: black;

}
.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block ;
}
.carrosel-filmes{
    margin-top: 5px;
}